-- SQL Script to fix defaults and identities for Contabilidad tables
BEGIN;

-- Fixing table: cont_activo_biologico
ALTER TABLE "cont_activo_biologico" ALTER COLUMN "created_at" SET DEFAULT now();
ALTER TABLE "cont_activo_biologico" ALTER COLUMN "updated_at" SET DEFAULT now();
ALTER TABLE "cont_activo_biologico" ALTER COLUMN "is_active" SET DEFAULT true;

-- Fixing table: cont_activo_fijo
ALTER TABLE "cont_activo_fijo" ALTER COLUMN "created_at" SET DEFAULT now();
ALTER TABLE "cont_activo_fijo" ALTER COLUMN "updated_at" SET DEFAULT now();
ALTER TABLE "cont_activo_fijo" ALTER COLUMN "is_active" SET DEFAULT true;

-- Fixing table: cont_activo_intangible
ALTER TABLE "cont_activo_intangible" ALTER COLUMN "created_at" SET DEFAULT now();
ALTER TABLE "cont_activo_intangible" ALTER COLUMN "updated_at" SET DEFAULT now();
ALTER TABLE "cont_activo_intangible" ALTER COLUMN "is_active" SET DEFAULT true;

-- Fixing table: cont_asiento_contable
ALTER TABLE "cont_asiento_contable" ALTER COLUMN "created_at" SET DEFAULT now();
ALTER TABLE "cont_asiento_contable" ALTER COLUMN "updated_at" SET DEFAULT now();
ALTER TABLE "cont_asiento_contable" ALTER COLUMN "is_active" SET DEFAULT true;

-- Fixing table: cont_beneficio_empleado
ALTER TABLE "cont_beneficio_empleado" ALTER COLUMN "created_at" SET DEFAULT now();
ALTER TABLE "cont_beneficio_empleado" ALTER COLUMN "updated_at" SET DEFAULT now();
ALTER TABLE "cont_beneficio_empleado" ALTER COLUMN "is_active" SET DEFAULT true;

-- Fixing table: cont_centro_costo
ALTER TABLE "cont_centro_costo" ALTER COLUMN "created_at" SET DEFAULT now();
ALTER TABLE "cont_centro_costo" ALTER COLUMN "updated_at" SET DEFAULT now();
ALTER TABLE "cont_centro_costo" ALTER COLUMN "is_active" SET DEFAULT true;

-- Fixing table: cont_costo_prestamo
ALTER TABLE "cont_costo_prestamo" ALTER COLUMN "created_at" SET DEFAULT now();
ALTER TABLE "cont_costo_prestamo" ALTER COLUMN "updated_at" SET DEFAULT now();
ALTER TABLE "cont_costo_prestamo" ALTER COLUMN "is_active" SET DEFAULT true;

-- Fixing table: cont_cuenta_contable
ALTER TABLE "cont_cuenta_contable" ALTER COLUMN "created_at" SET DEFAULT now();
ALTER TABLE "cont_cuenta_contable" ALTER COLUMN "updated_at" SET DEFAULT now();
ALTER TABLE "cont_cuenta_contable" ALTER COLUMN "is_active" SET DEFAULT true;

-- Fixing table: cont_depreciacion
ALTER TABLE "cont_depreciacion" ALTER COLUMN "created_at" SET DEFAULT now();
ALTER TABLE "cont_depreciacion" ALTER COLUMN "updated_at" SET DEFAULT now();
ALTER TABLE "cont_depreciacion" ALTER COLUMN "is_active" SET DEFAULT true;

-- Fixing table: cont_detalle_asiento
ALTER TABLE "cont_detalle_asiento" ALTER COLUMN "created_at" SET DEFAULT now();
ALTER TABLE "cont_detalle_asiento" ALTER COLUMN "updated_at" SET DEFAULT now();
ALTER TABLE "cont_detalle_asiento" ALTER COLUMN "is_active" SET DEFAULT true;

-- Fixing table: cont_deterioro_activo
ALTER TABLE "cont_deterioro_activo" ALTER COLUMN "created_at" SET DEFAULT now();
ALTER TABLE "cont_deterioro_activo" ALTER COLUMN "updated_at" SET DEFAULT now();
ALTER TABLE "cont_deterioro_activo" ALTER COLUMN "is_active" SET DEFAULT true;

-- Fixing table: cont_ejercicio_fiscal
ALTER TABLE "cont_ejercicio_fiscal" ALTER COLUMN "created_at" SET DEFAULT now();
ALTER TABLE "cont_ejercicio_fiscal" ALTER COLUMN "updated_at" SET DEFAULT now();
ALTER TABLE "cont_ejercicio_fiscal" ALTER COLUMN "is_active" SET DEFAULT true;

-- Fixing table: cont_flujo_efectivo
ALTER TABLE "cont_flujo_efectivo" ALTER COLUMN "created_at" SET DEFAULT now();
ALTER TABLE "cont_flujo_efectivo" ALTER COLUMN "updated_at" SET DEFAULT now();
ALTER TABLE "cont_flujo_efectivo" ALTER COLUMN "is_active" SET DEFAULT true;

-- Fixing table: cont_grupo_cuenta
ALTER TABLE "cont_grupo_cuenta" ALTER COLUMN "created_at" SET DEFAULT now();
ALTER TABLE "cont_grupo_cuenta" ALTER COLUMN "updated_at" SET DEFAULT now();
ALTER TABLE "cont_grupo_cuenta" ALTER COLUMN "is_active" SET DEFAULT true;

-- Fixing table: cont_hecho_posterior
ALTER TABLE "cont_hecho_posterior" ALTER COLUMN "created_at" SET DEFAULT now();
ALTER TABLE "cont_hecho_posterior" ALTER COLUMN "updated_at" SET DEFAULT now();
ALTER TABLE "cont_hecho_posterior" ALTER COLUMN "is_active" SET DEFAULT true;

-- Fixing table: cont_impuesto_diferido
ALTER TABLE "cont_impuesto_diferido" ALTER COLUMN "created_at" SET DEFAULT now();
ALTER TABLE "cont_impuesto_diferido" ALTER COLUMN "updated_at" SET DEFAULT now();
ALTER TABLE "cont_impuesto_diferido" ALTER COLUMN "is_active" SET DEFAULT true;

-- Fixing table: cont_instrumento_financiero
ALTER TABLE "cont_instrumento_financiero" ALTER COLUMN "created_at" SET DEFAULT now();
ALTER TABLE "cont_instrumento_financiero" ALTER COLUMN "updated_at" SET DEFAULT now();
ALTER TABLE "cont_instrumento_financiero" ALTER COLUMN "is_active" SET DEFAULT true;

-- Fixing table: cont_inventario
ALTER TABLE "cont_inventario" ALTER COLUMN "created_at" SET DEFAULT now();
ALTER TABLE "cont_inventario" ALTER COLUMN "updated_at" SET DEFAULT now();
ALTER TABLE "cont_inventario" ALTER COLUMN "is_active" SET DEFAULT true;

-- Fixing table: cont_libro_mayor
ALTER TABLE "cont_libro_mayor" ALTER COLUMN "created_at" SET DEFAULT now();
ALTER TABLE "cont_libro_mayor" ALTER COLUMN "updated_at" SET DEFAULT now();
ALTER TABLE "cont_libro_mayor" ALTER COLUMN "is_active" SET DEFAULT true;

-- Fixing table: cont_moneda
ALTER TABLE "cont_moneda" ALTER COLUMN "created_at" SET DEFAULT now();
ALTER TABLE "cont_moneda" ALTER COLUMN "updated_at" SET DEFAULT now();
ALTER TABLE "cont_moneda" ALTER COLUMN "is_active" SET DEFAULT true;

-- Fixing table: cont_periodo_contable
ALTER TABLE "cont_periodo_contable" ALTER COLUMN "created_at" SET DEFAULT now();
ALTER TABLE "cont_periodo_contable" ALTER COLUMN "updated_at" SET DEFAULT now();
ALTER TABLE "cont_periodo_contable" ALTER COLUMN "is_active" SET DEFAULT true;

-- Fixing table: cont_politica_contable
ALTER TABLE "cont_politica_contable" ALTER COLUMN "created_at" SET DEFAULT now();
ALTER TABLE "cont_politica_contable" ALTER COLUMN "updated_at" SET DEFAULT now();
ALTER TABLE "cont_politica_contable" ALTER COLUMN "is_active" SET DEFAULT true;

-- Fixing table: cont_propiedad_inversion
ALTER TABLE "cont_propiedad_inversion" ALTER COLUMN "created_at" SET DEFAULT now();
ALTER TABLE "cont_propiedad_inversion" ALTER COLUMN "updated_at" SET DEFAULT now();
ALTER TABLE "cont_propiedad_inversion" ALTER COLUMN "is_active" SET DEFAULT true;

-- Fixing table: cont_provision
ALTER TABLE "cont_provision" ALTER COLUMN "created_at" SET DEFAULT now();
ALTER TABLE "cont_provision" ALTER COLUMN "updated_at" SET DEFAULT now();
ALTER TABLE "cont_provision" ALTER COLUMN "is_active" SET DEFAULT true;

-- Fixing table: cont_tipo_asiento
ALTER TABLE "cont_tipo_asiento" ALTER COLUMN "created_at" SET DEFAULT now();
ALTER TABLE "cont_tipo_asiento" ALTER COLUMN "updated_at" SET DEFAULT now();
ALTER TABLE "cont_tipo_asiento" ALTER COLUMN "is_active" SET DEFAULT true;

-- Fixing table: cont_tipo_cambio
ALTER TABLE "cont_tipo_cambio" ALTER COLUMN "created_at" SET DEFAULT now();
ALTER TABLE "cont_tipo_cambio" ALTER COLUMN "updated_at" SET DEFAULT now();
ALTER TABLE "cont_tipo_cambio" ALTER COLUMN "is_active" SET DEFAULT true;

-- Fixing table: cont_tipo_inventario
ALTER TABLE "cont_tipo_inventario" ALTER COLUMN "created_at" SET DEFAULT now();
ALTER TABLE "cont_tipo_inventario" ALTER COLUMN "updated_at" SET DEFAULT now();
ALTER TABLE "cont_tipo_inventario" ALTER COLUMN "is_active" SET DEFAULT true;

-- Fixing EjercicioFiscal uniqueness
ALTER TABLE "cont_ejercicio_fiscal" DROP CONSTRAINT IF EXISTS "cont_ejercicio_fiscal_anio_key";
ALTER TABLE "cont_ejercicio_fiscal" ADD CONSTRAINT "cont_ejercicio_fiscal_anio_empresa_uniq" UNIQUE ("anio", "empresa");

COMMIT;
